<!DOCTYPE html>
<html>
<head>
  <title>ProjectTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
  <ul>
    <% if !user_signed_in? %>
    	<li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
<div id="notices">
  <ul>
  <% flash.each do |key, message| %>
    <li class="<%= key %>"><%= message %></li>
  <% end %>
  </ul>
</div>

<%= yield %>

</body>
</html>
